body{
    background-color: #E1D3BE !important;
}

nav{
    background-color: white;
    margin-top: 10px;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* work on the oval shape. make it go on the outer of the navbar and padding more */
 .navbar-brand {
    border: 1px solid white; /* Border style */
    padding: 20px;
    border-radius: 50% / 50%; /* Create an oval shape */
    transform: rotate(45deg); /* Rotate the oval by 45 degrees to create pointed ends */
    background-color:#798D85;
    color: white !important;
 }

 .unleash{
    background-color: #B0947B !important;
    color: white !important;
    height: 60vh !important;
    width: 140vh;
    margin-top: 20px;
    border: none !important;
 }
